*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Primary style of this website */
.navbar, .hero_section, .featured_img, .service_div{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
}
.section_title{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: normal;
}
.section_intro{
    text-align: center;
}
.section_intro p{
    margin-top: 10px;
}
p{
    font-family: 'Lato', sans-serif;
    color: #27272791;
    font-size: 16px;
    line-height: 1.5;
}
.primary_btn {
    padding: 14px 20px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: none;
}
.primary_btn:hover,
.primary_btn:focus {
  box-shadow: 0 0.5em 0.5em -0.5em #413e3f;
  transform: translateY(-0.25em);
  cursor: pointer;
}

/* header style start */
.main_head{
    background: #FCEEF1;
}
.nav_logo a img{
    width: 40%;
}
.nav_list ul{
    display: flex;
    justify-content: space-around;
}
.nav_list ul li{
    list-style-type: none;
    margin: 0 20px;
}
.nav_list ul li a{
text-decoration: none;
color: #000;
font-size: 17px;
}

/* Hero section style start */
.main_hero_section{
    background: #FCEEF1;
}
.hero_section{
    gap: 100px;
}
.hero_txt{
    width: 80%;
    margin: auto;
}
.hero_txt p{
    margin: 15px 0;
    line-height: 1.5;

}
.hero_txt h1{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: normal;
}
.hero_img img{
    width: 100%;
}

/* featured flower style start */
.featured_sec{
    margin-top: 100px;
}
.featured_img{
    margin-top: 70px;
}
.single_fitured_img{
    border-radius: 300px 300px 0px 0px;
    flex-basis: 26%;
}
.single_img_bg1{
    background: rgba(167, 33, 98, 0.15);
}
.single_img_bg2{
    background: rgba(5, 151, 160, 0.15);
}
.single_img_bg3{
    background: rgba(71, 125, 17, 0.15);
}
.single_fitured_img img {
    width: 250px;
    height: 300px;
    padding: 50px 50px 0 50px;
}
.single_feature_container{
    text-align: center;
}
.single_feature_container a{
    color: #272727;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;
    margin-top: 50px;
    word-spacing: 1.5px;
}
/* service section style start */
.service_div{
    width: 80%;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 100px;
    padding: 50px;
}
.single_service{
    text-align: center;
}
.single_service img{
    width: 30%;
}